:root {
    --blanco: #ffffff;
    --oscuro: #212121;
    --primario: #ffc107;
    --secundario: #0097a7;
    --gris: #757575;
    --grisClaro: #dfe9f3;
}

html {
    font-size: 62.5%;
}
body {
    font-size: 16px; /* 1 rem = 10px */
    font-family: "Krub", sans-serif;
}
.titulo {
    text-align: center;
    font-size: 3.8rem;
}
.titulo span {
    font-size: 2rem;
}

.navegacion-principal {
    background-color: var(--secundario);
    padding: 1rem 0;
}